@model Nop.Admin.Models.Omni_Class.ClassInfoModel
@{
    //page title
    ViewBag.Title = T("Admin.Omni_Class.Classes.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-sales.png")" alt="" />
            @T("Admin.Omni_Class.Classes.AddNew") @Html.ActionLink("(" + T("Admin.Omni_Class.Classes.BackToList") + ")", "ClassList")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("_CreateOrUpdateClass", Model)
}