
@model Nop.Admin.Models.Omni_Basis.CourseMasterModel
<div id="window_coursepopup">
    <table width="100%">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Year):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.Year, Model.AvailableYear, new { @class = "adminInput" })
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Term):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.Term, Model.AvailableTerm, new { @class = "adminInput" })
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Grade):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.Grade, Model.AvailableGrade, new { @class = "adminInput" })
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.CourseCategory):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.CourseCategory, Model.AvailableCourseCategory, new { @class = "adminInput" })
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="button" id="btnSearchCoursePopup" class="k-button" value="@T("Admin.Common.Search")" />
                <input type="text" id="course_id" readonly, style="display:none" />
            </td>
        </tr>
    </table>
    <p>
    </p>

    <table>
        <tr>
            <td>
                <div id="coursepopup-grid"></div>

                <script>
                    kendo.culture("en-AU");
                    var param_prefix = "";
                    $(document).ready(function () {
                        $("#coursepopup-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("GetCourseMasterList", "Omni_Basis"))",
                                        type: "POST",
                                        dataType: "json"
                                    },
                                    parameterMap: function (data, operation) {
                                        if (operation != "read") {
                                            var d = new Date(data.reg_date);
                                            data.reg_date = kendo.toString(new Date(d), "yyyy-MM-dd");
                                            return data;
                                        } else {

                                            return {
                                                Year: $('#@Html.FieldIdFor(model => model.Year)').val(),
                                                CourseCategory: $('#@Html.FieldIdFor(model => model.CourseCategory)').val(),
                                                Term: $('#@Html.FieldIdFor(model => model.Term)').val(),
                                                Grade: $('#@Html.FieldIdFor(model => model.Grade)').val()
                                            }
                                            data.command.pageSize = 100;

                                        }
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            CourseName: { editable: true, type: "string" },
                                            CourseCategory: { editable: true, type: "string" },
                                            Year: { editable: true, type: "string" },
                                            Term: { editable: true, type: "string" },
                                            Grade: { editable: true, type: "string" },
                                            Level: { editable: true, type: "string" },
                                            TotalWeek: { editable: true, type: "int" }
                                         
                                        }
                                    }
                                },
                                requestEnd: function (e) {
                                    if (e.type == "create" || e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function (e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                pageSize: 100000,
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true
                            },
                            sortable: false,
                            scrollable: false,
                            columns: [{

                                field: "select",
                                title: "Select",
                                width: 100,
                                template: '<a onclick=click_select_course("#=Id#") href="javascript:void(0);"> Select </a>',
                                editor: "<label></label>",
                                editable: false,
                                filterable: false
                            },{
                                field: "CourseName",
                                title: "@T("Admin.Omni_Backoffice.CourseMaster.Fields.CourseName")",
                                width: 80,
                        filterable: false,
                        sortable: false
                    }, {
                        field: "CourseCategory",
                        title: "@T("Admin.Omni_Backoffice.CourseMaster.Fields.CourseCategory")",
                            width: 100,
                        filterable: false,
                        sortable: false,
                        editor : CourseCategoryDropDownEditor,
                        template: '#=getCourseCategoryName(CourseCategory) #'
                        }, {
                        field: "Year",
                            title: "@T("Admin.Omni_Backoffice.CourseMaster.Fields.Year")",
                        width: 60,
                        filterable: false,
                        sortable: false,
                        editor : YearDropDownEditor,
                        template: '#=getYearName(Year) #'
                        }, {
                            field: "Term",
                            title: "@T("Admin.Omni_Backoffice.CourseMaster.Fields.Term")",
                            width: 60,
                            filterable: false,
                            sortable: false,
                            editor : TermDropDownEditor,
                            template: '#=getTermName(Term) #'
                        }, {
                        field: "Grade",
                            title: "@T("Admin.Omni_Backoffice.CourseMaster.Fields.Grade")",
                        width: 60,
                        filterable: false,
                        sortable: false,
                        editor : GradeDropDownEditor,
                        template: '#=getGradeName(Grade) #'
                        }, {
                            field: "Level",
                            title: "@T("Admin.Omni_Backoffice.CourseMaster.Fields.Level")",
                            width: 60,
                            filterable: false,
                            sortable: false,
                            editor : LevelDropDownEditor,
                            template: '#=getLevelName(Level) #'
                        },{
                            field: "TotalWeek",
                            title: "@T("Admin.Omni_Backoffice.CourseMaster.Fields.TotalWeek")",
                            width: 60,
                            filterable: false,
                            sortable: false

                            }]
                        });
                    });

                </script>

                <script type="text/javascript">

                    $('#btnSearchCoursePopup').click(function () {
                        var grid = $('#coursepopup-grid').data('kendoGrid');
                        grid.dataSource.page(1); //new search. Set page size to 1
                        grid.dataSource.read();

                        return false;
                    });


                    function click_select_course(course_id) {
                        document.getElementById('course_id').value = course_id;
                        $("#window_coursepopup").data("kendoWindow").close();
                    }


                </script>





            </td>
        </tr>
    </table>
</div>