@model Nop.Admin.Models.Omni_Basis.ChangePasswordModel
@using Nop.Services.Omni_Backoffice
@{
    var gridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSize;

    //page title
    ViewBag.Title = T("Admin.Omni_Basis.ChangePassword").Text;
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        @T("Admin.Omni_Basis.ChangePassword")
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="page account-page change-password-page">
        <div class="page-title">
            <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
        </div>
        <div class="page-body">
            <div class="message-error">
                @Html.ValidationSummary(true)
            </div>
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <div class="result">
                    @Model.Result
                </div>
            }
            <div class="fieldset">
                <div class="form-fields">

                    <table>
                        <tr>
                            <td>

                                @Html.LabelFor(model => model.OldPassword, new { }, ":")
                            </td>
                            <td>
                                @Html.EditorFor(model => model.OldPassword)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.NewPassword, new { }, ":")
                            </td>
                            <td>
                                @Html.EditorFor(model => model.NewPassword)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </td>

                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.ConfirmNewPassword, new { }, ":")
                            </td>
                            <td>
                                @Html.EditorFor(model => model.ConfirmNewPassword)
                                @Html.RequiredHint()
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                            </td>

                        </tr>

                    </table>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" class="button-1 change-password-button" value="@T("Account.ChangePassword.Button")" />
            </div>
        </div>
    </div>
}
